<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
     integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="contenedor contenedor__header">

            <div class="logo">
                <a href="index.html"><img class="logo__imagen" src="../statics/imagenes/logo.png" alt=""></a> 
            </div> 
           
            <nav class="navbar">
                <a href="noticias.html">Noticias</a>
                <a href="ayuda.html">Ayuda</a>
                <a href="comics.html">Comics</a>
                <a href="ofertas.html">Ofertas</a>
                <a href="vender.html">Vender</a>
            </nav>
            
            <div class="login">
                <button class="login__acceder">Acceder</button>
                <button class="login__registrarte">Registrate</button>
            </div>

            <div class="buscador">
                <input type="text" placeholder="Buscar...">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>

            <div class="carrito">
                <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>

    <section class="comics fondo_transparente">
        

        <div class="swiper mySwiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                   <a href="google.com"><img src="../comics/batman justicia absoluta.jpg" alt=""></a> 
                </div>
                <div class="swiper-slide">
                    <img src="../comics/DEADPOOL VS_ SABRETOOTH.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/dragon ball super.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/Jujutsu Kaisen Volume 11.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/linterna verde.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/one-piece-201-e6495bf8bce970e92216137704235084-1024-1024-9c522400056af1246e17439560769452-320-0.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/pokemon.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/spider man 2099.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/xmen.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/DEADPOOL VS_ SABRETOOTH.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/Jujutsu Kaisen Volume 11.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics//spider man 2099.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../comics/dragon ball super.jpg" alt="">
                </div>
            </div>

        </div>

    </section>

    <main class="main">
        <h1>Comics Verse – Tu Portal para Comprar y Vender Cómics</h1>
        <p>
            Bienvenidos a Comics Verse, el lugar ideal para todos los fanáticos del noveno arte.
            Somos una plataforma dedicada a la compra y venta de cómics, donde podés encontrar 
            ediciones clásicas, lanzamientos recientes y verdaderas joyas coleccionables. <br>
            En Comics Verse te conectamos con una comunidad apasionada de lectores, coleccionistas
            y vendedores. Explorá una gran variedad de títulos de todos los géneros: acción, aventura,
            superhéroes, manga, ciencia ficción, terror y más. Ya sea que estés buscando tu próximo 
            cómic favorito o quieras vender ejemplares de tu colección, este es el sitio para vos. <br>
            Nuestra web está diseñada para ofrecerte una experiencia cómoda, segura e intuitiva. 
            Con filtros de búsqueda, secciones destacadas y opciones personalizadas, comprar o vender 
            cómics nunca fue tan fácil.
        </p>
    </main>

    <footer class="footer">
        <div class="footer__redesSociales">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="script.js" ></script>
</body>
</html>